@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --header-color: #a5d7e8;
  --site-background: ghostwhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: black;
}

/*         HEADER SECTION */

header {
  height: 3vh;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
}

.icons-and-telephone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.telephone {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contacts > a:hover {
  color: gray;
}

/*        NAV SECTION */

nav {
  height: 10vh;
  background-color: var(--site-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 10px;
}

.logo {
  width: 65px;
}

.sedc-logo {
  width: 100%;
}

.categories-and-deals-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.sub-category {
  list-style: none;
  display: none;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar {
  width: 350px;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  transition: 0.2s;
}
.search-bar:focus {
  border: 1px solid var(--header-color);
}
.search-button {
  transition: 0.5s;
}
.search-button:hover {
  transform: scale(125%);
}

.account-and-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account {
  display: flex;
  align-items: center;
}

.account-options {
  border: 1px solid var(--header-color);
  padding: 10px 15px;
}
.sign-up {
  transition: 0.3s;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sign-up:hover {
  color: var(--header-color);
}

.log-in {
  transition: 0.3s;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.log-in:hover {
  color: var(--header-color);
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}
.cart:hover {
  color: gray;
}

/*       BANNER SECTION */

.banner {
  width: 100%;
  height: 60vh;
  background-image: url(./Images/banner.jpg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 10%;
}

.banner-text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #a5d7e8;
}
.banner-text > h1 {
  font-size: 60px;
}
.banner-text > p {
  font-size: 20px;
}

.banner-button {
  width: 150px;
  border-radius: 25px;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  background-color: #a5d7e8;
  transition: 0.3s;
}
.banner-button:hover {
  background-color: aliceblue;
}

/*        MAIN SECTION */

main {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--site-background);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  min-width: 200px;
  margin: 20px;
  height: 300px;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.category-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.category-link {
  display: none;
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
}

.category:hover .category-div,
.category:focus .category-div {
  transform: scale(1.2);
}

.category:hover .category-div:before,
.category:focus .category-div:before {
  display: block;
}

.category:hover a,
.category:focus a {
  display: block;
}

.category-div:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 44, 66, 0.75);
}

.clothes-img {
  background-image: url(./Images/clothes-img.avif);
}

.furniture-img {
  background-image: url(/images/furniture-img.jpg);
}

.music-img {
  background-image: url(/images/music-img.jpg);
}

.electronics-img {
  background-image: url(/images/electronics-img.jpg);
}
.shoes-img {
  background-image: url(/images/shoes-img.avif);
}
.jewlery-img {
  background-image: url(/images/jewlery-img.jpg);
}
