@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --header-color: #a5d7e8;
  --site-background: ghostwhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
/*        NAV SECTION */

.account-phone-screen {
  display: none;
}

.back-arrow {
  color: #406882;
  font-size: larger;
  cursor: pointer;
}

nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background-color: rgba(248, 248, 255, 0.947);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 10px;
}

.home-btn {
  width: 100%;
}

.logo {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sedc-logo {
  width: 100%;
}

.categories-and-deals-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.links:hover {
  color: var(--accent-color);
}

.sub-category {
  list-style: none;
  display: none;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar {
  width: 350px;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  transition: 0.2s;
}
.search-bar:focus {
  border: 1px solid var(--accent-color);
}
.search-button {
  transition: 0.5s;
}
.search-button:hover {
  transform: scale(110%);
}

.account-and-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account {
  display: flex;
  align-items: center;
}

.account-options {
  border: 1px solid var(--header-color);
  padding: 10px 15px;
}
.sign-up {
  transition: 0.3s;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sign-up:hover {
  color: var(--accent-color);
}

.log-in {
  transition: 0.3s;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.log-in:hover {
  color: var(--accent-color);
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}
.cart:hover {
  color: var(--accent-color);
}

.categories-ul {
  list-style-type: none;
}

ul li ul .dropdown-li {
  padding: 0px 0.2em;
  display: flex;
  gap: 10px;
}

ul li ul .dropdown {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  width: auto;
  gap: 10px;
  position: absolute;
  visibility: hidden;
  padding: 1em 0.5em 0.5em 0.5em;
  border-radius: 5px;
  background-color: ghostwhite;
}

@keyframes fillIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: var(--header-color);
    border-radius: 6px;
  }
}

ul li .dropdown-li:hover {
  background-color: var(--header-color);
  border-radius: 6px;
  animation: fillIn 0.5s;
}

ul li:hover ul.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: visible;
}

.menu {
  display: none;
  margin: 15px;
}

.search-button-phone {
  display: none;
}

.categories-and-deals-list-phone {
  display: none;
  position: absolute;
  background-color: ghostwhite;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 3;
  list-style: none;
  padding: 10px 20px;
  font-size: smaller;
  border-top: 1px solid gray;
}

.categories-ul-phone {
  list-style: none;
}

.phone-menu-item {
  padding: 8px 0;
}

.middle-item {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.search-display-phone {
  display: none;
  position: absolute;
  background-color: ghostwhite;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 3;
  border: 1px solid gray;
}

.search-display-phone-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.border-dropdown {
  border-bottom: 1px solid gray;
}

.dropdown-li-phone {
  padding: 10px;
}

/* CART PAGE */

/* subscribe section */
.subscribe-element {
  background-color: #a5d7e8;
  font-size: small;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: red;
}

.subscribe {
  color: red;
  font-weight: bold;
}
.products {
  background-color: white;
  float: right;
  width: 30%;
  margin-top: 3%;
  margin: 5%;
}
.userCart {
  background-color: white;
  float: left;
  width: 50%;
  margin: 5%;
}

.product,
.productFromCart {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 300px;
  min-height: 200px;
  padding-bottom: 10px;
  gap: 10px;
  height: auto;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.108);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}
.productFromCart {
  font-size: large;
  border-bottom: solid #a5d7e8;
}

.addToCartButton {
  transition: 0.3s;
  border-radius: 12px;
  width: 90%;
  padding: 10px;
  font-size: medium;
  border: solid var(--header-color);
}

.removeButton {
  transition: 0.3s;
  border-radius: 12px;
  width: 30%;
  padding: 10px;
  font-size: medium;
  border: solid var(--header-color);
  cursor: pointer;
}
.addToCartButton:hover,
.removeButton:hover {
  color: var(--header-color);
  cursor: pointer;
}

footer {
  background-color: #1a374d;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: white;
  margin-top: auto;
}

footer p {
  width: 90vw;
}

.container {
  position: relative;
  color: white;
}

.adressDiv {
  float: left;
  position: relative;
  transform: translate(-1%, -50%);
  padding: 10px;
}
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rightDiv {
  float: right;
  transform: translate(1%, -50%);
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .account {
    display: none;
  }
  .account-phone-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  }
  .cart-text {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    gap: 3%;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
    padding: 0px 40px 0px 50px;
    gap: 5%;
  }
  .logo,
  .account-and-cart {
    transform: scale(0.8);
  }
  .categories-and-deals-list {
    display: none;
  }
  .menu {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }

  .sedc-logo {
    width: 65px;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    height: 50px;
  }
  .search {
    display: none;
  }

  .search-button-phone {
    display: block;
    font-size: 29px;
  }
  nav {
    justify-content: space-between;
    padding: 0px 30px 0px 60px;
    height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .todays-deals-list {
    grid-template-columns: 1fr 1fr;
  }
  nav {
    height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    height: 70px;
  }

  nav {
    padding: 10px 25px 10px 45px;
  }

  .account-and-cart {
    gap: 10px;
  }
}

@media only screen and (max-width: 410px) {
  .categories-and-deals-list-phone {
    font-size: 0.5em;
  }
  .sedc-logo {
    width: 55px;
  }
  .menu {
    margin: 8px;
  }
}
