@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --header-color: #a5d7e8;
  --site-background: ghostwhite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: black;
}
/*        NAV SECTION */

nav {
  height: 10vh;
  background-color: var(--site-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 10px;
}

.logo {
  width: 65px;
}

.sedc-logo {
  width: 100%;
}

.categories-and-deals-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.sub-category {
  list-style: none;
  display: none;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar {
  width: 350px;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  transition: 0.2s;
}
.search-bar:focus {
  border: 1px solid var(--header-color);
}
.search-button {
  transition: 0.5s;
}
.search-button:hover {
  transform: scale(125%);
}

.account-and-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account {
  display: flex;
  align-items: center;
}

.account-options {
  border: 1px solid var(--header-color);
  padding: 10px 15px;
}
.sign-up {
  transition: 0.3s;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sign-up:hover {
  color: var(--header-color);
}

.log-in {
  transition: 0.3s;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.log-in:hover {
  color: var(--header-color);
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}
.cart:hover {
  color: gray;
}

.categories-ul {
  list-style-type: none;
}

ul li .dropdown {
  display: block;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

ul li ul .dropdown li {
  display: block;
}

ul li ul .dropdown {
  padding-bottom: 5px;
  border-radius: 5px;
  width: 100px;
  background-color: ghostwhite;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li .dropdown-li:hover {
  text-shadow: 0px -1px 12px rgba(0, 0, 0, 0.45);
}

ul li:hover ul.dropdown {
  display: block;
}

/* Contact */

.contact-container {
  width: 100vw;
}
.contact-box {
  margin-top: 0.5rem;
}

.contact-box {
  max-width: 30%;
  max-height: 50vh;
}

form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: #465362 1px 1px 4px;
}

.form-control {
  padding: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input,
textarea {
  width: 100%;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid #465362;
  outline: none;
}

.box-send {
  text-align: center;
}

.btn-send {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-send:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .contact {
    display: flex;
    gap: 1rem;
  }

  .contact form {
    flex-grow: 1;
  }
}

/* Footer */
footer {
  background-color: #a5d7e8;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--white);
}

footer p {
  width: 90vw;
}
